/* @font-face {
  font-family: 'Oswald';
  src: url('./Oswald-Light.ttf');
}

@font-face {
  font-family: 'Pacifico';
  src: url('./Pacifico-Regular.ttf');
}
.home-layout{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-pic {
  display: flex;
  transition: opacity 0.5s ease-in-out;
}

.home-pic:hover {
  opacity: 0.7;
}
.home-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


body {
  background-color: rgb(218, 218, 218);
  margin: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navbar {
  background-color: rgb(165, 165, 165);
  box-shadow: 0 3px 7px 0 #424242;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar li {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 1.5rem;
  list-style: none;
  padding: 10px;
  text-decoration: none;
}

.logo {
  margin: 0;
  font-family: 'Pacifico';
  margin-inline-start: 10px;
  color: rgb(17, 1, 61);
}

.navbar a {
  text-decoration: none;
}

.navbar li:hover {
  background-color: rgb(124, 123, 123);
}

.toy-list {
  display: flex;
  flex-wrap: wrap;
}

.toy-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  background-color: rgb(103, 198, 214);
  padding: 30px;
  margin: 20px;
  width: 140px;
}

.btn-map {
  display: flex;
  justify-content: center;
}

.btn-map button {
  margin: 20px;
}

.btns {
  display: flex;
}

.toy-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  max-width: 500px;
  font-size: 1.3rem;
}

.toy-details ul {
  color: rgb(5, 5, 107);
  margin: 10px 0 10px 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.details-layout {
  display: flex;
  justify-content: center;
}

.add-toy {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  align-items: flex-start;
  padding: 50px;
  max-width: 400px;
  font-size: 1.3rem;
}

.add-toy label {
  margin-bottom: 10px;
}

.add-toy-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter {
  display: flex;
} */